body{
    font-family: "helvetica", "Lucia Grande", sans-serif;
    width: 940px;
    margin-left: 20%;
}
.tarja{
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding-bottom: 10px;
}
h2{
    border-bottom: 1px solid black;
}
figure{
    text-align: center;
    background-color: whitesmoke;
}
figcaption{
    color: lightgrey;
    text-align: center;
}

#fig_matriz{
    padding: 10 auto;
}

#fig_familia{
    padding: 10 auto;
}

#img_matriz{
    width: 550px;
}

#img_familia{
    width: 275px;
}

#figure_matriz{
    padding-block: 10px;
    width: 550px;
}

#figure_familia{
    padding-block: 10px;
    width: 275px;
    float: right;
}
