body{
    font-family: "helvetica", "Lucia Grande", sans-serif;
    width: 940px;
    margin-left: auto;
    margin-right: auto;
}
.tarja{
    color: #3D3D3D;
    background-color: #E1EDF2;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 10px;
}
h2{
    border-bottom: 1px solid black;
}
figure{
    text-align: center;
    background-color: whitesmoke;
}
figcaption{
    color: lightgrey;
    text-align: center;
}

#fig_matriz{
    padding: 10px auto;
}

#fig_familia{
    padding: 10 auto;
}

#img_matriz{
    width: 550px;
}

#img_familia{
    width: 275px;
}

#figure_matriz{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
}

#figure_familia{
    padding-block: 10px;
    width: 275px;
    float: right;
}

#horario{
    font-size: small;
}

#italico{
    font-style: italic;
}